<!--  button edit    -->
    <a class="btn btn-brimary me-2" href="{% url 'edit' jop.id %}" >
        <i class="fa-regular fa-pen-to-square"></i>
    </a>

<!--  add Time Sheet   -->
<a class="btn btn-brimary me-2" href="{% url 'showTimeSheet' jop.id %}">
    <i class="fa-solid fa-plus"></i>
</a>

<!--  button Delete    -->
{% if jop.created_by == user %}
    <button type="button" class="btn btn-brimary" data-bs-toggle="modal" data-bs-target="#delete{{jop.id}}">
        <i class="fa-solid fa-trash"></i>
    </button>
{% endif %}

{% comment %} <button type="button" class="btn btn-secondary" 
data-bs-toggle="tooltip" data-bs-placement="left" 
data-bs-original-title="Tooltip on left">Left</button> {% endcomment %}
