<div class="modal" id="delete{{jop.id}}" tabindex="-1"aria-labelledby="myModallabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h6 class="modal-title">{{jop.project_Job_Type}} {{jop.project_Name}}</h6>
          <p>هل أنت متأكد من مسح المهمة؟</p>
        </div>
        <div class="modal-footer">
          <form action="{% url 'delete' jop.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="مسح"/>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">  الغاء</button>
        </div>
      </div>
    </div>
  </div>